.container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 0;
  width: 60%;
  height: 100%;
}

.input {
  height: 4rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 10px;
}

.input:focus {
  outline: none;
}

.textarea {
  width: 100%;
  height: 30rem;
  resize: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 10px;
}

.textarea:focus {
  outline: none;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: black;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.submit:hover {
  color: yellow;
}
